includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
  level: max
  checkMissingIterableValueType: false
  ignoreErrors:
  reportUnmatchedIgnoredErrors: true
